{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
{{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>{{ .title | markdownify }}</h1>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" target="_blank" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

<!-- /countdown -->
<section class="countdown section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-0"></div>
        <div class="col-sm-2 col-xs-4">
          <div class="clock-number">
              <h1 id="years"></h1>
              <p>{{i18n "years"}}</p>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="clock-number">
            <h1 id="months"></h1>
            <p>{{i18n "months"}}</p>
          </div>
        </div>
        <div class="col-sm-2 col-xs-4">
          <div class="clock-number">
            <h1 id="days"></h1>    
            <p>{{i18n "days"}}</p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-0"></div>
      </div>
    </div>
</section>


<script>
  var weddingDate = new Date("May 28, 2022 14:00:00");
  // Update the count down every 1 second
  var x = setInterval(function() {
    var now = new Date();
    var difference = (weddingDate.getTime() - now.getTime()) / 1000;

    var day = weddingDate.getDate() - now.getDate();
    var month = weddingDate.getMonth() - now.getMonth();
    if (day < 0) month = month - 1;
    if (day < 0) day += 30;
    var days = Math.floor(difference / (60 * 60 * 24));
    var years = Math.floor((days / 365));
    if (difference < 0) {
      day = 0;
      month = 0;
      years = 0;
    }
    // Display the result in the element with id="countdown"
    document.getElementById("years").innerHTML = years;  
    document.getElementById("months").innerHTML =  month;  
    document.getElementById("days").innerHTML =  day;  
  }, 1000);
  </script>

{{ if $data.homepage.our_story.enable }}
{{ with $data.homepage.our_story }}
<!-- our_story -->
<section class="our_story section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .description | markdownify }}</p>
          </div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /our_story -->
{{ end }}
{{ end }}

{{ if $data.homepage.sightseeing.enable }}
{{ with $data.homepage.sightseeing }}
<!-- sightseeing -->
<section class="feature bg-2" style="background-image: url('{{ .bg_image | absURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        {{ .content | markdownify }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-view-works">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /sightseeing -->
{{ end }}
{{ end }}

<!-- Service -->
{{ if $data.homepage.service.enable }}
{{ partial "service.html" . }}
{{ end }}
<!-- /service -->

<!-- Call to action -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            {{ range .funfact_item }}
            <li class="counter-item">
              <i class="{{ .icon }}"></i>
              <h4 class="count" data-count="{{ .count }}">0</h4>
              <span>{{ .name | markdownify }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .testimonial_slider }}
            <div>
              <i class="ion-quote"></i>
              <p>"{{ .content | markdownify }}"</p>
              <div class="user">
                <img src="{{ .image | relURL }}" alt="client">
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end}}
{{ end}}

{{ end }}